# single file
make.log
Makefile.depend
component.nfo.new
product.mk
product.mk.local
.copyarea.db
ior.dat
core
!/fds/core
.lock-wafbuild
totalTestCaseNumber.log
xmlReport.xml
cobertura.ser
a.out
pk_build_error.log*
watcher
Contacts.xml

#composer
.dupclasspath
#.project
composer.conf

#eclipse

#files
*.o
*.so
*.swp
*.orig
*.keep
*.tar
*.tar.gz
*.class
*.jar
*.zip
*.a
*.output
*_wsdl_fixed.xsd
*.log

#directories
_debug/
_fast/
tar_mirror/
nbproject/
doc/
report/
generated/
build/
_JUnit/
CheckStyleResult/
classes/
bin/
target/
.ccache
cobertura
junit_output
logs
